@using MVCFramework.Web.Models
@helper RenderNavigation(NavigationModel navigation, System.Web.Mvc.UrlHelper Url, string css = "nav nav-list")
{
    <ul class="@css">
        @{ 
            foreach (var item in navigation.Items.Where(i => i.ParentID == null).OrderBy(i => i.Order))
            {
                if (item.ShowInMenu)
                {
                    @RenderNavigationItem(item, Url)
                    foreach (var subitem in navigation.Items.Where(si => si.ParentID == item.ID).OrderBy(si => si.Order))
                    {
                        @RenderNavigationItem(subitem, Url)
                    }
                }

            }
        }
    </ul>
}
@helper RenderNavigationItem(NavigationItemModel item, System.Web.Mvc.UrlHelper Url)
{
    if (!item.ShowInMenu)
    {
        return;
    }
    
    if (item.ParentID == null)
    {
        @:<li class="nav-header">
    }
    else
    {
        @:<li>
    }
    
        if (!string.IsNullOrEmpty(item.Url))
        {
            @:<a href="@Url.Content(item.Url)">
        }
            if (!string.IsNullOrEmpty(item.Icon))
            {
                  <i class="@item.Icon"></i>
            }
            @item.Text
        if (!string.IsNullOrEmpty(item.Url))
        {
          @:</a>
        }
    @:</li>
}